@import 'rules/reset';
@import 'rules/mediaqueries';
@import 'rules/colors';
@import 'rules/helpers';
@import 'rules/typography';

@import 'components/buttons';
@import 'components/hamburger';
@import 'components/cards';
@import 'components/title';

@import 'header/layout';
@import 'footer/layout';

@import 'main/layout';


body {
    display: grid;
    grid-template-columns: 1fr; 

    @include media(tablet-large) {
        grid-template-columns: repeat(12, 1fr);           
    }

    @include IE() {
        overflow-x: hidden;
    }

    .header {
        @include media(tablet-large) {
            grid-column: -1 / 1;
            
            display: grid;
            grid-template-columns: repeat(12, 1fr);

            &__content {
                grid-column: 2 / -2;
            }
        }
    }
}