.mobile {
    &--hidden {
        @media screen and (max-width: 698px) {
            display: none;
        }
    }
}

.tablet {
    &--hidden {
        display: none;

        @include media(tablet-large) {
            display: block;
        }
    }
}

@mixin gutter($numb) {
    padding-left: $numb;
    padding-right: $numb;
}

@mixin IE() {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}
