.visually--hidden {
    visibility: hidden;
}

.mobile {
    &--hidden {
        @include media(mobile) {
            display: none !important;
        }

        @include media(tablet) {
            display: block;
        }
    }
    &--visible {
        @include media(tablet) {
            display: none !important;
        }
        
        @include media(mobile) {
            display: block;
        }
    }
}

.tablet {
    &--hidden {
        display: none;

        @include media(tablet-large) {
            display: block;
        }
    }
}


.grid {
    grid-column: span 12;
    
    &:not(.mobile--visible) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    &.mobile--hidden {
        @include media(mobile) {
            display: none !important;
        }
    }
}





@mixin gutter($numb) {
    padding-left: $numb;
    padding-right: $numb;
}

@mixin IE() {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin Edge() {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}

@mixin background($background) {
    @if $background == dark {
        background-image: url('../images/logo--background--dark.svg');
    }
    @if $background == light {
        background-image: url('../images/logo--background.svg');
    }

    background-repeat: no-repeat;
    background-position: right -18rem top -13rem;
}

@mixin horizontalScroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    & > * {
        flex: 0 0 auto;
    }
}