.mobile {
    &--hidden {
        display: none;

        @include media(tablet) {
            display: block;
        }
    }
    &--visible {
        display: none;
        @include media(mobile) {
            display: block;
        }
    }
}

.tablet {
    &--hidden {
        display: none;

        @include media(tablet-large) {
            display: block;
        }
    }
}

@mixin gutter($numb) {
    padding-left: $numb;
    padding-right: $numb;
}

@mixin IE() {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin background($background) {
    @if $background == dark {
        background-image: url('../images/logo--background--dark.svg');
    }
    @if $background == light {
        background-image: url('../images/logo--background.svg');
    }

    background-repeat: no-repeat;
    background-position: right -18rem top -13rem;
}

@mixin horizontalScroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    & > * {
        flex: 0 0 auto;
    }
}