@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700');

$MAIN_FONT      : Barlow, arial, sans-serif;

$MOBILE_SMALL   : 1.273rem;
$MOBILE_BASE    : 1.6rem;
$MOBILE_MEDIUM  : 1.8rem;
$MOBILE_LARGE   : 2.4rem;

$DESKTOP_SMALL   : 1.273rem;
$DESKTOP_BASE    : 1.8rem;
$DESKTOP_MEDIUM  : 3.6rem;
$DESKTOP_LARGE   : 5.086rem;


html {
    font-size: 62.5%;
}

body, button {
    font-family: $MAIN_FONT;
    font-display: swap;
    font-size: 1.6rem;
    line-height: 150%;

    @include media(tablet-large) {
        font-size: 1.8rem;
    }
}

input::placeholder {
    font-family: $MAIN_FONT;
}

.bold {
    font-weight: 500;
}

.title {
    &--capsed {
        text-transform: uppercase;
        font-size: 1.275rem;
        letter-spacing: 0.1em;
    }
}

@mixin smallTitle {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.5;
    color: #ffffff;
}