@import 'submit';
@import 'legal';

.form {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: span 8 !important;

    &__input {
        grid-column: 2 / -3 !important;

        -webkit-appearance: none;
        background-color: $TERTIARY_COLOR;
        border: none;
        box-sizing: border-box;

        max-width: 100%;
        width: 100%;
        max-height: 8rem;

        padding: 3rem;
        margin-bottom: 1rem;

        position: relative;

        &::placeholder {
            text-transform: uppercase;
            font-size: 1.2rem;
            opacity: 0.7;
            letter-spacing: 0.1rem;
        }

        &:focus {
            outline: none;
            background: darken($TERTIARY_COLOR, 3%);
        }
    }

    &__input {
        font-family: $MAIN_FONT;

        &[name=message] {
            min-height: 27.5rem;
            resize: none;
            margin-bottom: 0;
            font-family: $MAIN_FONT;
        }

        &:not([type=submit]) {
            color: $SECONDARY_COLOR;
        }
    }
}