$CARD_BACKGROUND    : #ffffff;
$CARD_COLOR         : $SECONDARY_COLOR; 

.projects {
    @include media(mobile) {
        &__wrapper {
            grid-column: span 12;
            overflow: hidden;
        }
        &__title {
            margin-bottom: 3rem;
        }
        &__list {
            @include horizontalScroll;
            padding-right: 2rem;
        }
        &__item {
            width: calc((100% / 12) * 11.5);
        }
    }
}

.project {
    padding-right: 1rem;

    &:last-child {
        padding-right: 2rem;
    }

    &__wrapper {
        height: 100%;
        padding: 2rem;
        background: $CARD_BACKGROUND;
        color: $CARD_COLOR;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: baseline;
        margin-bottom: 5rem;
        font-weight: 500;

        > .logos {
        display: flex;
        align-items: flex-start;
        align-content: center;

            img {
                max-height: 4rem;
                width: auto;
                margin: auto;

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }

    &__title {
        margin: auto 0;
    }
    
    
}