.slider {
    &__controls {
        display: flex;
        justify-content: space-between;
        padding: 0;

        > button {
            -webkit-appearance: none;
            border: none;
            cursor: pointer;
            background: none;
            
            @include smallTitle;
            color: $SECONDARY_COLOR;
            opacity: 1;
            font-size: 1rem;
            font-weight: 500;

            &:focus {
                outline: none;
            }

            &.slider__controls {
                &--previous, &--next {
                    height: 1.3rem; width: 1.5rem;
                    box-sizing: content-box;
                    display: block;
                    padding: 4rem;

                    background-position: center center;
                    background-repeat: no-repeat;

                    opacity: 0.8;
                    transition: background-position .2s ease-out;
                    
                    &:hover {
                        opacity: 1;
                        transition: background-position .2s ease-out;
                    }
                }

                &--previous {
                    background-image: url('../images/arrow--left.svg');
                    &:hover {
                        background-position: left 3.6rem center;
                    }
                }
                &--next {
                    background-image: url('../images/arrow--right.svg');
                    &:hover {
                        background-position: right 3.6rem center;
                    }
                }
            }
        }
    }
}

.images {
    &__controls {
        grid-column: -1 / 1;
        display: flex;
        justify-content: flex-end;
        transform:translateY(-8.7rem);
        
        button {
            width: 8rem; height: 8rem;
            background-color: $PRIMARY_COLOR;
            -webkit-appearance: none;
            border: none;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &.images__controls {
                &--previous {
                    background-image: url('../images/arrow_strict--left.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                &--next {
                    background-image: url('../images/arrow_strict--right.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }


        
        @include IE() {
            position: absolute;
            bottom: 0; right: 0;
            transform: translateY(-.8rem);
        }
    }
}