@import 'box';
@import 'controls';
@import 'panels';

.slider {
    @include media(tablet) {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(auto, 1fr);

        @include IE() {
            display: flex;
        }
    }

    position: relative;

    @include IE() {
        margin-left: calc((100% / 12) * 1);
    }

    &__box {
        grid-column: 1 / 5;
        grid-row: row 1;
        z-index: 2;

        @include IE() {
            max-width: calc((100% / 12) * 3);
        }
        @include media(tablet-large) {
            grid-column: 1 / 4;
        }
    }

    &__images {
        grid-column: 3 / -1;
        grid-row: row 1;

        margin-top: 7.8rem;
        z-index: 1;

        display: grid;
        grid-template-columns: repeat(8, 1fr);


        > .images__load {
            grid-column: 2 / -1;
            transform: translateY(3px);
            z-index: 2;

            > .images__loader {
                width: 0; height: 3px;
                background: $PRIMARY_COLOR;
            }
        }

        > .images__set {
            grid-column: -1 / 1;
        }
    }
}
