$MOBILE_NAV_BACKGROUND  : $PRIMARY_COLOR;
$MOBILE_NAV_OVERLAY     : $SECONDARY_COLOR;

.nav {
    &__trigger {
        position: fixed;
        top: 2rem; right: 2rem;
        z-index: 4;
    }

    &__list {
        background-color: $PRIMARY_COLOR;
        padding: 8rem 0;
        
        position: fixed;
        top: 0;
        right: 0; left: 0;
    }

    &__link {
       text-align: center;
       font-size: $MOBILE_BASE;
       line-height: 1;
       height: 8rem;

       display: flex;
    }
}

.nav {
    &__list {
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100px);

        transition: visibility 0s linear .8s, z-index 0s linear .8s, opacity .4s linear .1s, transform 0s ease-out .8s;
    }
    &__content {
        &--outter {
            overflow: hidden;
            margin: auto;
        }
        &--inner {
            display: inline-block;
            transform: translateY(20px);
            transition: transform .2s ease-out;
        }
    }
    &::after {
        display: block; content: '';

        position: fixed;
        top: 0; bottom: 0;
        right: 0; left: 0;
        
        background-color: rgba($MOBILE_NAV_OVERLAY, 0);
        visibility: hidden;
        z-index: -1;
        transition: background-color .4s linear .1s, z-index 0s linear .8s, visibility 0s linear .8s;
    }
}

.nav {
    &--is-visible {
        .nav {
            &__list {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                z-index: 3;

                transition: opacity .2s linear, transform .2s ease-out .1s;
            }
            &__content {
                &--inner {
                    transform: translateY(0);
                    transition: transform .2s ease-out .3s;
                }
            }
        }
        &::after {
            visibility: visible;
            z-index: 0;
            background-color: rgba($MOBILE_NAV_OVERLAY, 0.9);
            transition: visibility 0s linear, background-color .2s linear;
        }
    }
}

body, html {
    &.no-scroll {
        overflow-y: hidden !important;
        position: relative;
        height: 100%;
    }
}